#!/bin/bash
if [ "`whoami`" == "root" ]; then
 echo "Do not execute as root"
 exit 2
fi

# Stop System
/usr/sap/hostctrl/exe/sapcontrol -nr {{ sapsystemnummer }} -function StopSystem ALL

# Check if System is active
while [ "`/usr/sap/hostctrl/exe/sapcontrol -nr {{ sapsystemnummer }} -function GetSystemInstanceList | grep -E \"(GREEN|YELLOW)\"`" ]; do
 sleep 1;
done

echo test
# Check if system failed
if [ "`/usr/sap/hostctrl/exe/sapcontrol -nr {{ sapsystemnummer }} -function GetSystemInstanceList | grep RED`" ]; then
 echo "HANA Status RED"
 exit 3;
fi


# Configure System-Replication
hdbnsutil -sr_register --name={{ customer }} --replicationMode=syncmem --operationMode={{ hsr_operation_mode }} --remoteHost={{ hsr_type_remote_host }} --remoteInstance={{ sapsystemnummer }} --force_full_replica

 

