#!/bin/bash
if [ "`whoami`" == "root" ]; then
 echo "Do not execute as root"
 exit 2
fi

hdbnsutil -sr_enable --name={{ item.value.hsr_name }}

#cat << EOF > /etc/facter/facts.d/hsr{{ item.value.hana_sid|lower }}.sh
##!/bin/bash
#echo "hsr{{ item.value.hana_sid|lower }}=yes"
#EOF
#chmod 755 /etc/facter/facts.d/hsr{{ item.value.hana_sid|lower }}.sh

