#!/bin/bash

<% if hsr_hostname_resolution_ip.kind_of?(Array) - }}

/usr/sap/hostctrl/exe/sapcontrol -nr {{ item.value.hana_instance_number }} -function StopSystem

# Check if System is active
while [ "`/usr/sap/hostctrl/exe/sapcontrol -nr {{ item.value.hana_instance_number }} -function GetSystemInstanceList | grep -E \"(GREEN|YELLOW)\"`" ]; do
 sleep 1;
done

echo test
# Check if system failed
if [ "`/usr/sap/hostctrl/exe/sapcontrol -nr {{ item.value.hana_instance_number }} -function GetSystemInstanceList | grep RED`" ]; then
 echo "HANA Status RED"
 exit 3;
fi


cat << EOF >> /hana/shared/{{  item.value.hana_sid|upper  }}/global/hdb/custom/config/global.ini

[system_replication_hostname_resolution]
<%- (1..(hsr_hostname_resolution_ip.length)).each do |id| - }}
{{  hsr_hostname_resolution_ip[id-1]  }}={{  hsr_hostname_resolution_hostname[id-1]  }}
<% end - }}

[system_replication_communication]
listeninterface = .internal

EOF

/usr/sap/hostctrl/exe/sapcontrol -nr {{ hana_instance_number }} -function StartSystem

# Check if System is System is starting 
while [ "`/usr/sap/hostctrl/exe/sapcontrol -nr {{ item.value.hana_instance_number }} -function GetSystemInstanceList | grep -E \"(GRAY|YELLOW|RED)\"`" ]; do
 sleep 1;
done

echo test
# Check if system failed
if [ "`/usr/sap/hostctrl/exe/sapcontrol -nr {{ item.value.hana_instance_number }} -function GetSystemInstanceList | grep RED`" ]; then
 echo "HANA Status RED"
 exit 3;
fi

<% end - }}

