#!/bin/bash
# Check if puppet variable is filled
if [ "{{ hana_sid|lower }}" ]; then
 # Check if hana install filed extists
 # Please change to real hana install test!
 if [ ! -f "/hana/shared/hana_installed_{{ hana_sid|lower }}.txt" ]; then
  #  Get all Members of the Cluster deployed over puppet
  for i in $(cat /usr/local/bin/install_hana_{{ hana_sid|lower }}.conf | sed "s/,/ /g"); do
   if [ -f "/hana/shared/$i" ]; then
    echo "System $i ready" 
   else
     echo "System $i not ready yet"
     exit 0
   fi
  done
  touch /hana/shared/hana_installed_{{ hana_sid|lower }}.txt
  cd {{ hana_installdir }}/DATA_UNITS/HDB_SERVER_LINUX_*/
  ./hdblcm --ignore=check_signature_file --configfile=/tmp/hana_inst_{{ hana_sid|lower }}.cfg -b --remote_execution=saphostagent >> /var/log/hana_install.log
 fi
else
 echo "Error, no SAPSYSTEMNAME_SMALL!"
 exit 1
fi

