#!/bin/bash
# Check if puppet variable is filled
if [ "{{ sapsystemname_small }}" ]; then
 su - {{ sapsystemname_small }}adm -c "echo \"\c -i {{ sapsystemnummer }} -u SYSTEM -p {{ system_user_passwd_clear }}
BACKUP DATA USING FILE ('{{ hsr_backup_directory }}')\" | hdbsql"

fi

cat << EOF > /etc/facter/facts.d/hsr_backup_configured.sh
#!/bin/bash
echo "hsr_backup_configured=yes"
EOF
chmod 755 /etc/facter/facts.d/hsr_backup_configured.sh

