#!/bin/bash
# Source DOC-1001643.pdf -> Markus Koch

# Preconfigure 
su - {{ sapsystemname_small }}adm -c "hdbsql -i {{ sapsystemnummer }} -u system -p {{ system_user_password }} \"create user rhelhasync password {{ hsrha_rhelhasync }}\""
su - {{ sapsystemname_small }}adm -c "hdbsql -i {{ sapsystemnummer }} -u system -p {{ system_user_password }} \"grant CATALOG READ to rhelhasync\""
su - {{ sapsystemname_small }}adm -c "hdbsql -i {{ sapsystemnummer }} -u system -p {{ system_user_password }} \"grant MONITOR ADMIN to rhelhasync\""
su - {{ sapsystemname_small }}adm -c "hdbsql -i {{ sapsystemnummer }} -u system -p {{ system_user_password }} \"ALTER USER rhelhasync DISABLE PASSWORD LIFETIME\""

# Define Authentification
pcs cluster auth -u hacluster -p {{ hsrha_hacluster_password }}

pcs resource defaults default-resource-stickness=1000
pcs resource defaults default-migration-threshold=5000
pcs resource op defaults timeout=600s

# Stonith
# Own Module

# Configure IP Ressource
pcs resource create rsc_ip_SAPHana_{{ sapsystemname }}_HDB{{ sapsystemnummer }} IPaddr2 \
  ip="{{ hsrha_ip }}"

pcs resource create rsc_SAPHanaTopology_{{ sapsystemname }}_HDB{{ sapsystemnummer }} SAPHanaTopology \
  SID={{ sapsystemname }} \
  InstanceNumber={{ sapsystemnummer }} \
  op start timeout=600 \
  op stop timeout=300 \
  op monitor interval=10 timeout=600

pcs resource clone rsc_SAPHanaTopology_{{ sapsystemname }}_HDB{{ sapsystemnummer }} meta is-managed=true clone-max=2 clone-node-max=1 interleave=true

pcs resource create rsc_SAPHana_{{ sapsystemname }}_HDB{{ sapsystemnummer }} SAPHana \
  SID={{ sapsystemname }} \
  InstanceNumber=00 \
  PREFER_SITE_TAKEOVER=true \
  DUPLICATE_PRIMARY_TIMEOUT=7200 \
  AUTOMATED_REGISTER=true \
  op start timeout=3600 \
  op stop timeout=3600 \
  op promote timeout=3600 \
  op demote timeout=3600 \
  op monitor interval=59 role="Master" timeout=700 \
  op monitor interval=61 role="Slave" timeout=700

pcs resource master msl_rsc_SAPHana_{{ sapsystemname }}_HDB{{ sapsystemnummer }} rsc_SAPHana_{{ sapsystemname }}_HDB{{ sapsystemnummer }} \
  meta is-managed=true notify=true clone-max=2 clone-node-max=1 interleave=true

# Automatic Register = True (Start the second side)
pcs resource update rsc_SAPHana_{{ sapsystemname }}_HDB{{ sapsystemnummer }} AUTOMATED_REGISTER=true

pcs constraint colocation \
  add rsc_ip_SAPHana_{{ sapsystemname }}_HDB{{ sapsystemnummer }} with master msl_rsc_SAPHana_{{ sapsystemname }}_HDB{{ sapsystemnummer }} 2000

pcs constraint order \
  rsc_SAPHanaTopology_{{ sapsystemname }}_HDB{{ sapsystemnummer }}-clone then msl_rsc_SAPHana_{{ sapsystemname }}_HDB{{ sapsystemnummer }} symmetrical=false

cat << EOF > /etc/facter/facts.d/hsrha{{ sapsystemname_small }}2.sh
#!/bin/bash
echo "hsrha2=yes"
EOF
chmod 755 /etc/facter/facts.d/hsrha{{ sapsystemname_small }}2.sh

