#!/bin/bash

TEMP=$(mktemp -d)

# Extract Hostagent
cp -rp {{ hana_installdir }}/DATA_UNITS/HDB_SERVER_LINUX_{{ ansible_architecture|upper }}/server/HOSTAGENT.TGZ $TEMP/
cd $TEMP
tar -xzvf HOSTAGENT.TGZ

# Install saphostagent
cd global/hdb/saphostagent_setup/
./saphostexec -install

